%h2 Set Profile

%div.pure-form.pure-form-stacked.pure-form-aligned
  = form_for @profile, url: user_profile_path(@user) do |f|
    %div
      = f.label :bio, "Biography"
      = f.text_area :bio, placeholder: "Enter a short description about you and your powder skills"

    %div
      = f.label :profile_picture, "Profile Picture"
      = f.file_field :profile_picture

    %div
      = f.label :prefered, "How do you ride?"   
      = f.select(:prefered, options_for_select(['Ski', 'Snowboard', 'Both']))

    %div
      = f.label :level, "What's your current level?"      
      = f.select(:level, options_for_select(['Beginner', 'Intermediate', 'Advanced', 'Austrian']))

    %div
      = f.label :specialities, "Do you have any preferences or specialities?" 
      = hidden_field_tag "profile[speciality_ids][]"
      - for speciality in Speciality.all
        = check_box_tag "profile[speciality_ids][]", speciality.id, @profile.specialities.include?(speciality)
        = speciality.name

    %div
      = f.submit "SAVE", :id => 'input_button_sign_up', :class => 'pure-input-rounded'