.profile
  
  %p
    = image_tag @profile.profile_picture.thumb.url
    
  %p 
    = @profile.prefered 

  %p 
    = @profile.level 

  %p 
    = @profile.specialities 

  %ul
    %li  
      = @profile.favorite_resorts

  %p 
    = @profile.state

= link_to 'Edit', edit_user_profile_path(@user)

= link_to 'Back', user_profile_path(@user)
