#profile_show
  %h1 
    = current_user.name.upcase
    = link_to image_tag('/assets/edit.png'), edit_user_profile_path(@user)

  .pure-g.profile_show
    .pure-u-1-3
      .profile_picture
        - if @profile.profile_picture.thumb.url
          = image_tag @profile.profile_picture.thumb.url
        %br
        
    .pure-u-2-3
      .profile_show
        %table
          %tr
          %tc
            %th
              Skiing vs. Snowboarding
            %td
              = @profile.prefered
          %tr
          %tc 
            %th 
              Level
            %td 
              = @profile.level
          %tr
          %tc
            %th
              Specialities
            %td
              - @profile.specialities.each do |speciality|
                = speciality.name
                |
          %tr
          %tc
            %th
              Favorite Resorts
            %td
              - @profile.resorts.each do |resort|
                = resort.name
                |

        
