.profile
  
  %p
    = image_tag @profile.profile_picture.thumb.url

  %p 
    = @profile.prefered 

  %p 
    = @profile.level 

  %ul 
    - @profile.specialities.each do |speciality|
      %li 
        = speciality.name

= link_to 'Edit', edit_user_profile_path(@user)

= link_to 'Back', user_profile_path(@user)
