#single_comment_display
  .pure-g
    .pure-u-1-4
      %a{href: user_profile_path(comment.user)}
        %p
          = comment.user.name
      %a{href: user_profile_path(comment.user)}
        - if comment.user.profile.profile_picture.icon
          %img{src: comment.user.profile.profile_picture.icon}
    .pure-u-3-4
      %p= comment.comment
      - if comment.user != current_user
        - if comment.flagged?
          = image_tag(asset_path('shovel_2.png'))
        -else
          = link_to image_tag(asset_path('shovel.png')), inappropriate_resort_comment_path(Resort.find(params[:id]), comment)
      - else
        = link_to('Delete', [comment.resort, comment], :method => :delete, :confirm => 'Are you sure?')
    