%h2 
  = @resort.day_zero_day_title
  Weather
.pure-g
  .pure-u-1-6
    %p
      Valley Temp:
      %h2
        = @resort.button_min_temp 
        \ —
        = @resort.button_max_temp
        °C
      %strong
        = @resort.button_min_temp_fahrenheit
        \ —
        = @resort.button_max_temp_fahrenheit
      °F
  .pure-u-1-6
    %p
      Mountain Temp:
      %h2
        = @resort.top_min_temp
        to
        = @resort.top_max_temp
        °C
      %strong
        = @resort.top_min_temp_fahrenheit
        \ —
      %strong
        = @resort.top_max_temp_fahrenheit
      °F
  .pure-u-1-6
    %p
      Chances of Snow:
      %h2
        = @resort.chance_of_snow
        \ %
  .pure-u-1-6
    %p
      Total Snow Fall:
      %h2
        = @resort.total_snow_fall
        cm
  .pure-u-1-6
    %p
      Day:
      %h4
        = @resort.icon_day_zero
        = @resort.day_zero_day_text
  .pure-u-1-6
    %p
      Night:
      %h4
        = @resort.icon_day_zero
        = @resort.day_zero_night_text




