#resort_index
  .pure-g
    .pure-u-1-2
      = javascript_tag do
        window.resorts = #{raw @all_resorts.to_json}

      .map-show
        = render :partial => 'map'

    .pure-u-1-2
      %ul 
        - @resorts.each do |resort|
          %li 
            = link_to resort.name, resort_path(resort)
            = resort.get_likes.size
        
        = paginate @resorts