
.resort-show
  .pure-g
    .pure-u-1-2
      .pure-img
        = image_tag(@resort.map)

    .pure-u-1-2
      %h2
        = @resort.name
      %p 
        = @resort.website
      - unless @resort.run_count.nil?
        %p
          Run Count:
          = @resort.run_count
      - unless @resort.lift_count.nil?
        %p
          Lift Count:
          = @resort.lift_count.any?









%p
  max temp button
  = @resort.button_max_temp

%p
  some weather text
  = @resort.day_one_night_text