
.resort-show
  .pure-g
    .pure-u-1-2
      .pure-img
        = image_tag(@resort.map)

    .pure-u-1-2
      %h2
        = @resort.name
      %p 
        = link_to @resort.website, "#{@resort.website}"
      - unless @resort.run_count.nil?
        %p
          Run Count:
          = @resort.run_count
      - unless @resort.lift_count.nil?
        %p
          Lift Count:
          = @resort.lift_count.any?

.weather-show
  .pure-g
    .pure-u-1-3
      - unless @resort.button_max_temp.nil?
        %p
          Valley Temp:
          %strong
            = @resort.button_min_temp
          to
          %strong
            = @resort.button_max_temp
          째C
          or
          %strong
            = @resort.button_min_temp_fahrenheit
          to
          %strong
            = @resort.button_max_temp_fahrenheit
          째F
        %p
          Mountain Temp:
          %strong
            = @resort.top_min_temp
          to
          %strong
            = @resort.top_max_temp
          째C
          or
          %strong
            = @resort.top_min_temp_fahrenheit
          to
          %strong
            = @resort.top_max_temp_fahrenheit
          째F
        %p
          Chances of Snow in %:
          %strong
            = @resort.chance_of_snow
          
        %p
          Total Snow Fall:
          %strong
            = @resort.total_snow_fall
          cm