.resort_show
  .pure-g
    .pure-u-1-2
      .pure-img
        = image_tag(@resort.map)

    .pure-u-1-2
      %h2
        = @resort.name
      %p 
        = link_to @resort.website, "#{@resort.website}"
      - unless @resort.run_count.nil?
        %p
          Run Count:
          = @resort.run_count
      - unless @resort.lift_count.nil?
        %p
          Lift Count:
          = @resort.lift_count
      %p
        .like
          - if current_user.liked? @resort
            = render :partial => 'unlike'
          - else
            = render :partial => 'like'
      %p
        .total_likes
          = render :partial => 'total_likes'

.resort_show_weather_comment
  .pure-g
    .pure-u-1-2
      .comment-show
        = render :partial => 'comment'
    .pure-u-1-2        
      .weather-show
        = render :partial => 'weather'
    


