.resort_show
  %nav.L-1-1
    %ul.L-1-1
      %li
        %a#nav_one.L-3-12.gutters{href: "#one"} overview
      %li
        %a#nav_two.L-3-12.gutters{href: "#two"} reviews
      %li
        %a#nav_three.L-3-12.gutters{href: "#three"} weather
  %section#one.one.overview
    .overview-show
      %h1
        = @resort.name
      %p 
        = @resort_region.region
      %p 
        = link_to @resort.website, "#{@resort.website}"
      %p 
        = rating_for @resort, "resort", :star => 4
      %p
        .total_likes
          = render :partial => 'total_likes'
      - unless @resort.run_count.nil?
        %p
          Run Count:
          = @resort.run_count
      - unless @resort.lift_count.nil?
        %p
          Lift Count:
          = @resort.lift_count

      .pure-img
        = image_tag(@resort.map)
      %p
        .like
          - if current_user.liked? @resort
            = render :partial => 'unlike'
          - else
            = render :partial => 'like'
      %p
        .total_likes
          = render :partial => 'total_likes'


  %section#two.two.reviews
    .comment-show
      = render :partial => 'comment'

  %section#three.three.weather  
    .weather-show
      = render :partial => 'weather'

    


