
%p
  = image_tag(@resort.map)

%p 
  = @resort.name

%p 
  = @resort.website

%p 
  = @resort.latitude

%p 
  = @resort.longitude

%p 
  = @resort.run_count

%p
  max temp button
  = @resort.button_max_temp

%p
  some weather text
  = @resort.day_one_night_text