!!!
%html
  %head
    %title We Are
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyA77x4_6dcnzuaQZfq5QvJcae6a72RMGTg&sensor=FALSE", type: "text/javascript"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags



  %body
  
    .pure-g
      .pure-u-1-1 
        .menu
          - if current_user
            %ul
              %li
                %label
                  hi,
                  = current_user.name.downcase
              %li
                = link_to "sign out", destroy_user_session_path, method: :delete
              %li
                = link_to('edit settings', edit_user_registration_path) 
              %li
                = link_to('show profile', user_profile_path(current_user))
              %li
                = link_to('resorts', resorts_path)
          - else
            %ul
              %li
                = link_to "sign in", new_user_session_path
              %li
                = link_to "register", new_user_registration_path 
        .main_section 
          .login_alerts
            %p.notice= notice # Needed for Devise to alert User
            %p.alert= alert

          = yield

          = yield :map_javascript
