!!!
%html
  %head
    %title We Are
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyA77x4_6dcnzuaQZfq5QvJcae6a72RMGTg&sensor=FALSE", type: "text/javascript"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .menu
      - if current_user
        #profile_pic_layout
          - if current_user.profile.profile_picture
            %img{src: current_user.profile.profile_picture.icon}
            %br
            %p
              %label
                hi,

        #logo
          
          #sign_out
            = link_to image_tag('/assets/sign-out.png'), destroy_user_session_path, method: :delete
          %p
            = image_tag("/assets/logo.png")
            

          %ul
            %li
              = link_to 'search', "/"
            %li
              = link_to('resorts', resort_location_path)
            %li
              = link_to('my profile', user_profile_path(current_user))
              
      - else
        %ul
          %li
            = link_to "sign in", new_user_session_path
          %li
            = link_to "register", new_user_registration_path 
    
    .main_section 
      .login_alerts
        %p.notice= notice # Needed for Devise to alert User
        %p.alert= alert

      = yield

      = yield :map_javascript
